{% extends 'app1/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/show.css' %}">
    {% block title %}
      <title>Document Suggestions</title>
    {% endblock title %}
  </head>
  {% endblock head %}
  <body>
    {% block content %}
    <div class="container">
        <h2 class="center">Improved Text</h2>
        <!-- Notification Container -->
        <div class="notification-container">
          {% for message in messages %}
              <div class="notification {% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% endif %}">
                  {{ message }}
              </div>
          {% endfor %}
        </div>
        <form method="post" action="{% url 'accept_improvements' document_id=document.id %}">
          {% csrf_token %}
          <div class="textarea-container">
              <h3>Original Text</h3>
              <textarea name="original_text" rows="12" readonly>{{ original_text }}</textarea>
              <h3>Improved Text</h3>
              <textarea name="improved_text" rows="12">{{ improved_text }}</textarea>
          </div>
          <br>
          <button type="submit" class="custom-btn">Accept</button>
        </form>       
        <br>
    </div>
    {% endblock %}
    {% block script %}
    <script>
        // Automatically close notifications after 5 seconds
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                var notifications = document.querySelectorAll('.notification');
                notifications.forEach(function (notification) {
                    notification.remove();
                });
            }, 2000); // Adjust the time in milliseconds (e.g., 2000 for 2 seconds)
          // Scroll to the text section
          var textSection = document.querySelector('.container');
            if (textSection) {
                textSection.scrollIntoView({ behavior: 'smooth' });
            }
        });
    </script>
    {% endblock script %}
  </body>
</html>
